@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gilroy Light 폰트 */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("/fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Gilroy ExtraBold 폰트 */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("/fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* * {
  box-sizing: border-box;
} */
